# Ignore configuration files with sensitive information
config.ini
.env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
pandas-promiting/


#ignore datasets
*.csv
*.xlsx


# Ignore temporary files
*.log

# Ignore cache folder
cache/