# Ignore configuration files with sensitive information
config.ini
.env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/


#ignore the data folder
datasets/


#ignore converting to pkl script
dataset-storing.py